<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
          rel="stylesheet">

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="library/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="library/assets/css/fontawesome.css">
    <link rel="stylesheet" href="library/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="library/assets/css/owl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="library/assets/css/main.css">
    <link rel="stylesheet" href="library/assets/css/myCss.css">
</head>
<body>
<div id="header">
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div id="modal">
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" id="modal-content">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="navbar-brand" href="index.html"><h2>Fire Blog<em>.</em></h2></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                </div>
            </div>
        </nav>
    </header>
</div>
<div id="body">
</div>

<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Behance</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Dribbble</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>Fire Blog
                        | Design: <a rel="nofollow" href="" target="_parent">L&K</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--notification-->
<!--<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 100;">-->
<!--    <div id="notification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">-->
<!--        <div class="toast-header">-->
<!--            <img src="" class="rounded mr-2" alt="...">-->
<!--            <strong class="mr-auto">Bootstrap</strong>-->
<!--            <small>11 mins ago</small>-->
<!--            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="toast-body">-->
<!--            Hello, world! This is a toast message.-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--script-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
<script src="src/blog/create.js"></script>
<script src="src/blog/list.js"></script>
<script src="src/account/navbar.js"></script>
<script src="src/account/login.js"></script>
<script src="src/account/register.js"></script>

<script src="library/assets/js/myScript.js"></script>




<script src="library/vendor/jquery/jquery.min.js"></script>
<script src="library/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- Additional Scripts -->
<script src="library/assets/js/custom.js"></script>
<script src="library/assets/js/owl.js"></script>
<script src="library/assets/js/slick.js"></script>
<script src="library/assets/js/isotope.js"></script>
<script src="library/assets/js/accordions.js"></script>
<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>
<script>
</script>
</body>
</html>